@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
  box-sizing:border-box;
    Margin:0;
    Padding:0;
}

body.home
{
	background: #8e9eab;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #eef2f3, #8e9eab);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #eef2f3, #8e9eab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	padding-top: 100px;

}
body{	padding-top: 50px;
}


article, aside, footer{
	flex:1;
	padding: 1rem;
	margin:1px;
}



.title {
    font-family: 'Montserrat', sans-serif;
    font-size:2rem; 
    padding: 10px;;
    margin-top: 80px;
    text-align: center;
}

p {
	font-family: 'Montserrat', sans-serif;
	font-size:1rem; 
	padding: 25px;
	text-align: center;
	animation-duration: 3s;
	animation-name: slidein;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	}

h1 {
    font-family: 'Bebas Neue';
    font-size:3rem;  
    padding: 5px;;
    margin-top: 5%;
	text-align: center;
}


body.page{
	background-image: linear-gradient(62deg, #d4d2ce 0%, #beb9ab 100%);
}



footer {
    background-color: #d4b87b98;
    margin: 0;
    padding: 25px;

}

.sencillosArtistas
{
      background-color: #edecec;
      color: #3b2703;
      font-size:1.5rem;  
      text-align: center;
      padding: 20px;
	  width: 80%;
    
}


.sencillosArtistasbox{
	display: flex;
	flex: 1;
	margin: 30px;
	padding: 20px;
}

article{
	text-align: center;
	flex:1;
	padding: 1rem;
	margin:20px;
	background-color: rgb(236, 217, 181);

}


.container {
	width: 80%;
	max-width: 1200px;
	margin: 0 auto;
  }
  
  .container * {
	box-sizing: border-box;
  }
  
  .flex-outer,
  .flex-inner {
	list-style-type: none;
	padding: 0;
	text-align: center;
  }
  
  .flex-outer {
	max-width: 800px;
	margin: 0 auto;
  }
  
  .flex-outer li,
  .flex-inner {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
  }
  
  .flex-inner {
	padding: 0 8px;
	justify-content: space-between;  
  }
  
  .flex-outer > li:not(:last-child) {
	margin-bottom: 20px;
  }
  
  .flex-outer li label,
  .flex-outer li p {
	padding: 8px;
	font-weight: 300;
	letter-spacing: .09em;
	text-transform: uppercase;
  }
  
  .flex-outer > li > label,
  .flex-outer li p {
	flex: 1 0 120px;
	max-width: 220px;
  }
  
  .flex-outer > li > label + *,
  .flex-inner {
	flex: 1 0 220px;
  }
  
  .flex-outer li p {
	margin: 0;
  }
  
  .flex-outer li input:not([type='checkbox']),
  .flex-outer li textarea {
	padding: 15px;
	border: none;
  }
  
  .flex-outer li  {
	margin-left: auto;
	padding: 8px 16px;
	border: none;
	background: #333;
	color: #f2f2f2;
	text-transform: uppercase;
	letter-spacing: .09em;
	border-radius: 2px;
  }
  
  .flex-inner li {
	width: 200px;
  }

  .item1 { grid-area: header;  }
  .item2 { grid-area: primary; }
  .item3 { grid-area: left; }
  .item4 { grid-area: right; }
  .item5 { grid-area: secondary; }

.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'primary primary left left right right'
    'primary primary secondary secondary secondary secondary';
  grid-gap: 25px;

  padding: 20px;
}

.grid-container > div {
  background-color: #e5d5b0;
  padding: 15px ;
  font-size: 20px;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 100vh;
  grid-gap: 0px 0px;
  align-self: center;

}

.text-title-animation:hover {
	transition: 10s;
	font-size: 5rem;
  }

  .gallery-animation {
		width: 200px;
		height: 200px;
				transition: width 4s, height 3s, transform 2s;
  }
	  
 .gallery-animation:hover {
		width: 300px;
		height: 300px;
		transform: scale (20px,20px);

	  }

	  .scale-up-ver-bottom {
		-webkit-animation: scale-up-ver-bottom 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
				animation: scale-up-ver-bottom 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	}

/* ----------------------------------------------
 * Generated by Animista on 2021-8-5 22:42:21
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-up-ver-bottom
 * ----------------------------------------
 */
 @-webkit-keyframes scale-up-ver-bottom {
	0% {
	  -webkit-transform: scaleY(0.4);
			  transform: scaleY(0.4);
	  -webkit-transform-origin: 0% 100%;
			  transform-origin: 0% 100%;
	}
	100% {
	  -webkit-transform: scaleY(1);
			  transform: scaleY(1);
	  -webkit-transform-origin: 0% 100%;
			  transform-origin: 0% 100%;
	}
  }
  @keyframes scale-up-ver-bottom {
	0% {
	  -webkit-transform: scaleY(0.4);
			  transform: scaleY(0.4);
	  -webkit-transform-origin: 0% 100%;
			  transform-origin: 0% 100%;
	}
	100% {
	  -webkit-transform: scaleY(1);
			  transform: scaleY(1);
	  -webkit-transform-origin: 0% 100%;
			  transform-origin: 0% 100%;
	}
  }

  input, textarea	 {
	  padding: 20px;
	  width: 100%;
  }
  

  .shadow-drop-right:hover {
	-webkit-animation: shadow-drop-right 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: shadow-drop-right 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2021-8-5 22:44:17
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation shadow-drop-right
 * ----------------------------------------
 */
 @-webkit-keyframes shadow-drop-right {
	0% {
	  -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
			  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
	100% {
	  -webkit-box-shadow: 12px 0 20px -12px rgba(0, 0, 0, 0.35);
			  box-shadow: 12px 0 20px -12px rgba(0, 0, 0, 0.35);
	}
  }
  @keyframes shadow-drop-right {
	0% {
	  -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
			  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
	100% {
	  -webkit-box-shadow: 12px 0 20px -12px rgba(0, 0, 0, 0.35);
			  box-shadow: 12px 0 20px -12px rgba(0, 0, 0, 0.35);
	}
  }
  